/* default style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, form, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* CSS MemeM Slider style */
.container {
    padding: 10px 0 20px;
    background-color: rgba(32, 31, 31, 0.993);
    width: 100%;
    height: 100vh;
}
.radioButton {
    width: 0;
    height: 0;
    visibility: hidden;
}
.memSlider__container {
    margin: 0 auto;
    width: 25%;
    overflow: hidden;
}
.slider__img {
    width: 400%;
    display: flex;
}
.slide {
    width: 25%;
}
.slide img {
    width: 100%;
    height: auto;
}
